*{
 box-sizing:border-box;
 /*outline: 1px red solid;*/
 margin:0;
 padding:0
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
 border:0;
 font:inherit;
 font-size:12px;
 margin:0;
 padding:0;
 vertical-align:baseline
}

html{
 font-size:62.5%
}

body{
 line-height:1.5
}

p{
 font-size:1.5rem;
}

#root,body,html{
 height:100%;
 width:100%;
 display:flex;
 position:relative;
 background-color:#f9fafa;
 flex-direction:column;
 overflow:hidden
}

body{
    /*background-image:url('../images/bg.png');*/
    color:#19171c;
    font-family:'Play',sans-serif;
    font-size:12px;
    line-height:1.4
}

#app-container{
 bottom:0;
 display:flex;
 left:0;
 position:absolute;
 right:0;
 top:0;
 /*background-image:url('../images/bg.png');*/
 color:#19171c;
 flex-direction:column;
 flex-wrap:nowrap;
 overflow:hidden
}

#app{
 height:100%;
 flex-direction:column;
 flex-wrap:nowrap;
 display:flex
}

.nav-container{
 height:5rem;
 box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75)
 -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
 align-items:center;
 background-color:#353434;
 justify-content:flex-start;
 padding-left:.75rem;
 z-index:1000
}

.nav-logo,.nav-link{
 color:#a5a2a2!important;
 text-decoration:none!important
}

.nav-logo,.logo{
 font-size:1.75rem!important
}

.nav-link{
 padding-left:1.5rem
}

.game-header{
 border-bottom: 1px solid #d8ddde;
 height:5rem;
 background-color:#fff
}

.display-container{
 align-self:flex-end;
 padding:1rem
}

#screen{
 display:block;
 margin-left:auto;
 margin-right:auto
}

.right-column{
 width:34rem
}

.chat-header{
 border-bottom:1px solid #d8ddde;
 border-left:1px solid #d8ddde;
 border-right:1px solid #d8ddde;
 min-height:5rem;
 background-color:#eef0f1;
 padding-left:2rem;
 padding-right:1rem
}

.chat-content{
 border-left:1px solid #d8ddde;
 background-color:#eef0f1
}

#chat-list-items{
 overflow-y:scroll;
 padding-bottom:1rem
}

.chat-item{
 padding:.5rem 2rem;
 word-wrap:break-word
}

.username{
 font-weight:bold
}

.username,.separator,.chat-text{
 display:inline;
}

.chat-text{
 padding-left:.5rem;
}

.chat-input{
 padding-bottom:.5rem;
 padding-left:2rem;
 padding-right:2rem
}

button{
 border: none;
 width: auto;
 appearance: none;
-webkit-appearance: none;
 outline: none;
 background: transparent;
-webkit-font-smoothing: inherit;
-moz-osx-font-smoothing: inherit;
 line-height: normal;
 margin: 0;
 overflow: visible;
 padding: 0;
 text-align: inherit;
}

#settings-btn{
 cursor:pointer;
 padding-top:.5rem;
}

#chat-input-box{
 appearance:none;
-moz-appearance:none;
-webkit-appearance:none;
 outline:0;
 resize:none;
 border:1px solid #d8dcde;
 border-radius:2px;
 background:#fff;
 color:#3f434a;
 font-size:1.2rem;
 line-height:1.5;
-ms-overflow-style:none;
 padding-bottom:.5rem;
 padding-left:1rem;
 padding-right:1rem;
 padding-top:.5rem;
 transition:box-shadow .12s ease-in,border .12s ease-in;
}


.p-relative{position:relative !important}
.d-block{display:block !important}
.d-flex{display:flex !important}
.d-hidden{display:none !important}
.flex-nowrap{flex-wrap:nowrap !important}
.flex-column{flex-direction:column !important}
.flex-row{flex-direction:row !important}
.flex-grow-0{flex-grow:0 !important}
.flex-grow-1{flex-grow:1 !important}
.flex-shrink-0{flex-shrink:0 !important}
.flex-shrink-1{flex-shrink:1 !important}
.f-justify-content-between{justify-content:space-between !important}
.f-align-center{align-items:center !important}
.overflow-hidden{overflow:hidden !important}
.height-100{height:100% !important}
.width-100{width:100% !important}
.z-1{z-index:1 !important}

b.logo{font-weight:normal}
.logo.green{color:#079330}
.logo.blue{color:#021daa}
.logo.red{color:#fe2015}
.logo.yellow{color:#ffc001}
h1,h2{color:#a5a2a2}
a{color:#07a}
a:visited{color:#941352}
.retro-text{
 font-family:'Press Start 2P',sans-serif;
 /* Disable font hinting if supported. If it doesn't work (usually won't), no biggie */
 font-smooth: never;
-webkit-font-smoothing : none
 }


