html{
 background-color:#1d1d1d
}
/* { border: 1px solid red; }*/
body{
 background-image:url('../images/bg.png');
 color:#a5a2a2;
 line-height:1.4;
 margin:0;
 padding:0;
 font-family:'Play',sans-serif;
 font-size:16px;
}

.retro-text{
 font-family:'Press Start 2P',sans-serif;
}

nav{
 box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
 background-color:#171717;
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75)
}

b.logo{font-weight:normal}
.logo.green{color:#079330}
.logo.blue{color:#021daa}
.logo.red{color:#fe2015}
.logo.yellow{color:#ffc001}
h1,h2{color:#a5a2a2}
a{color:#07a}
a:visited{color:#941352}
